.findAStore {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: black;
  opacity: 0.87;
  margin-right: 20px;
}

.findAStore:hover {
  color: #008248;
  transition: all 0.1s;
}
.findAStore:hover > svg {
  cursor: pointer;
  transition: all 0.1s;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}
