.orderNow {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

.orderNow:hover > svg {
  cursor: pointer;
  transition: all 0.1s;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
}
